.phonebook {
  width: 100%;
  min-width: 320px;
  padding: 30px;
  background: linear-gradient(to right, #daf7f856, #63f8f844);
  border-radius: 15px;
  position: relative;
  min-height: 100vh;
}

.section {
  margin-bottom: 20px;
}

/* app bar */

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
}

.Logo {
  fill: #606679;
  transition: 0.2s linear;
  margin-right: 30px;
}

.Logo:hover,
.Logo:focus,
.activeLogo {
  transform: scale(1.1) rotate(20deg);
  fill: #0037ec;
  transition: 0.2s linear;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.headerLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #4f5252;
  transition: 0.2s linear;
}

.headerLink:hover,
.headerLink:focus {
  color: #0037ec;
  transition: 0.2s linear;
}

.headerLink:not(:last-child) {
  margin-right: 10px;
}

.logOutBtn {
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #4f5252;
  transition: 0.2s linear;
  outline: none;
  cursor: pointer;
}

.logOutBtn:hover,
.logOutBtn:focus {
  color: #0037ec;
  transition: 0.2s linear;
}

/* /home page */

.homeTitle {
  font-size: 50px;
  color: #0037ec;
  text-align: center;
  padding-top: 25vh;
}

/* /contacts page */

.miniContainer {
  max-width: 400px;
  /* margin: 0 auto; */
}

.title {
  color: #4f5252;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input-form {
  margin-bottom: 20px;
}

.input-error {
  font-size: 12px;
  color: #f51818;
}

.btn {
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #4f5252;
  padding: 0 10px;
  border: 1px solid #01afaf;
  border-radius: 15px;
  background: transparent;
  transition: 0.3s linear;
}

.btnContact {
  composes: btn;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: #fafafa;
  border: 1px solid #01afaf;
  border-radius: 15px;
  transition: 0.3s linear;
}

.btn:hover {
  color: #fafafa;
  background: #01afaf;
  transition: 0.1s linear;
}

.btnContact:hover {
  background: #f51818;
  color: #fafafa;
  transition: 0.1s linear;
}

.list {
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #01afaf;
  border-radius: 10px;
  transition: 0.1s linear;
}

.list-item:hover,
.list-item:focus {
  transform: scale(1.01);
  transition: 0.1s linear;
}

.list-item-data {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.errorMessage {
  font-size: 20px;
  color: #f51818;
}

.loader {
  position: absolute;
  top: 240px;
  left: 320px;
}
